.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#map {
  width: 90vw;
  height: 75vh;
  border-radius: .7rem;
  z-index: 0;
}

.controls {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.btn {
  display: flex;
  border: 1px solid goldenrod;
  border-radius: 50%;
  margin-left: .7rem;
  cursor: pointer;
  font-size: 1.5rem;
  width: 3.2rem;
  height: 3.2rem;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transition: transform 100ms;
  transform: scale(1.1);
}

.info {
  background-color: #141414;
  color: gold;
}

.location {
  background-color: rgb(145, 248, 86);
  color: blue;
}

.remove {
  background-color: rgb(197, 197, 197);
  color: rgb(94, 13, 13);
}

.cache {
  background-color: rgb(61, 100, 105);
  color: whitesmoke;
}

.input-label {
  display: flex;
  color: white;
  background-color: purple;
  border: 1px solid goldenrod;
  border-radius: 50%;
  font-size: 1.3rem;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.input-label:hover {
  transition: transform 100ms;
  transform: scale(1.1);
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(14, 92, 165);
  cursor: pointer;
  text-align: left;
  margin-bottom: .5rem;
}

input {
  opacity: 0;
  width: 0;
  position: absolute;
  z-index: -1;
}
